/*================================================================================================*| 
||  Reduced line-height of all application as it serves smaller screens.
||================================================================================================*/
* {
    font-family: "Inter", sans-serif;
    --bs-body-line-height: 1;
}
/*================================================================================================*| 
||  Montserrat superbold (900) imported for jackpots buttons.
||================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Sacramento');

.superbold {
    font-family: 'Montserrat', sans-serif;
}
.title_font {
    font-family: 'Montserrat', sans-serif;
}
.verdana {
    font-family: verdana;
}
/*================================================================================================*| 
||  The body tag is added to restrict touch screen of LmiPP to slide the screen from left or right.
||================================================================================================*/
body {
    overscroll-behavior: contain;
}
/*================================================================================================*| 
||  The class app_wrapper is used on all pages, starts from top:35px to ignore Header (fixed size). 
||================================================================================================*/
.app_wrapper {
    width:100vw;
    position:absolute; 
    top:35px; 
    bottom:0;
}
/*================================================================================================*| 
||  Header Classes
||================================================================================================*/
.custom_title {
    position:absolute; 
    top:0;
    left:2%;
    z-index:9;
    line-height:1.25;
    font-family: verdana;
    font-size: 1.6rem;
    font-weight: 600;
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header_info{
    margin-bottom: 0 !important;
    font-weight:900 !important;
    font-size:1.4rem;
}
.header_points {
    display:block; 
    max-width:120px; 
    overflow:hidden;
}
.header_wrapper {
    width:100%; 
    margin-left:auto;
}
.header-img{
    width: 24px !important;
    height: 24px !important;
    margin-bottom:4px !important;
}
.header-img_bigger {
    width: 31px !important;
    height: 31px !important;
}
#header{
    width:100%;
    max-height:36px;
    box-shadow: 0px 0px 10px 4px #191919;
    background-color: #222222;
    position:relative;
}
.header_el1 {
    max-width:46.5%;
    min-width:46.5%;
}
.header_el2 {
    max-width:26.5%;
    min-width:26.5%;
}
.header_el3 {
    max-width:32%;
    min-width:32%;
}
.flex_el {
    flex: 1;
    white-space: nowrap;
    overflow:hidden;
}
/* The pre-loader class is used on userPoints in header, to give the shine effect to the numbers. */
.pre-loader_wrapper {
    position:relative;
    overflow:hidden;
    width:auto;
    font-weight:900 !important;
}
ul.pre-loader {
    margin: 0;
    padding: 0;
}
ul.pre-loader li {
    list-style: none;
    color: #ff6c00;
    display: inline;
    font-size: 1.35rem;
    animation: pre-load 3s linear infinite;
}
ul li:nth-child(1) {
animation-delay: .2s;
}
ul.pre-loader li:nth-child(2) {
    animation-delay: .3s;
}
ul.pre-loader li:nth-child(3) {
    animation-delay: .4s;
}
ul.pre-loader li:nth-child(4) {
    animation-delay: .5s;
}
ul.pre-loader li:nth-child(5) {
    animation-delay: .6s;
}
ul.pre-loader li:nth-child(6) {
    animation-delay: .7s;
}
ul.pre-loader li:nth-child(7) {
    animation-delay: .8s;
}
ul.pre-loader li:nth-child(8) {
    animation-delay: .9s;
}
ul.pre-loader li:nth-child(9) {
    animation-delay: 1s;
}
ul.pre-loader li:nth-child(10) {
    animation-delay: 1.1s;
}
ul.pre-loader li:nth-child(11) {
    animation-delay: 1.2s;
}
ul.pre-loader li:nth-child(12) {
    animation-delay: 1.3s;
}
/*================================================================================================*| 
||  The class "text-effect" is used as title for "System/External Jackpots" on Jackpots Page
||  and also on the Interactive Idle page for "Jackpots/Cashouts"
||================================================================================================*/
.text-effect{
    color: #fff6a9;
    font-family: 'Sacramento', cursive;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    position: relative;
}
#counterText2 {
    -webkit-animation: heartBeat 1s infinite;
    animation: heartBeat 1s infinite;
}
.demo-container {
    width: 300px;
    margin: auto;
}
.progress-bar {
    height: 4px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
}
.progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminateAnimation 60s infinite linear;
    transform-origin: 0% 50%;
}
@keyframes indeterminateAnimation {
    0% {
        transform:  translateX(0) scaleX(0);
    }
    40% {
        transform:  translateX(0) scaleX(0.4);
    }
    100% {
        transform:  translateX(100%) scaleX(0.5);
    }
}
/*================================================================================================*| 
||  Additional Slide classes
||================================================================================================*/
div.slide_trigger{
    position: relative;
    position:absolute; 
    bottom:0;
}
.input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    visibility: 0;
}
h5{
    width:100vw;
    display:flex;
    justify-content: center;
    position: relative;
    color:#1e2f97;
    padding:0;
    margin-bottom: 0 !important;
}
label::before{
    content:"";
    display: inline-block;
    margin-bottom:4px;
    opacity:0.5;
    transition-duration:0.2s;
    transition-timing-function:ease-out;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:ease-out;
}
label{
    display: flex !important;
    align-items: center;
    height:62px !important;
    position: relative;
    margin:0 auto;
}
div.slide_trigger2 {
    max-height:0px;
    overflow: hidden;
    transition:max-height 0.5s;
    background-color: white;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.slide_trigger2 p {
    padding:2em;
}
.input:checked ~ h5 label::before {
    transition-duration:0.2s;
    opacity:1;
    transition-timing-function:ease-out;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:ease-out;
    margin-right:4px;
    transition-duration: 1s !important;
    transition: width 2s, height 4s;
    transition-timing-function: ease-in-out;
}
.input:checked ~ h5 ~ div.slide_trigger2 {
    max-height:100px;
}
.input:checked ~ h5 .menu_img {
    transform: rotate(180deg);
    transition-duration: 0.5s;
    opacity:1;
}
.input:checked ~ h5 .after {
    background: linear-gradient(#191919,  rgba(33, 37, 41, 1),#233, #233) !important;
}
.w_90 {
    width: 90%;
    margin: 0 auto;
}
.pt_0-5 {
    padding-top: 0.5rem;
}
.pl_0-8 {
    padding-left: 8px !important;
}
.pl_1-5 {
    padding-left:1.5rem;
}
.pr_1-5 {
    padding-right:1.5rem;
}
.pl_2 {
    padding-left: 2rem !important;
}
.pl_10 {
    padding-left:10px;
}
.mt_2 {
    margin-top:1.5rem !important;
}
.mt_05 {
    margin-top:5px !important;
}
.mt_02 {
    margin-top:2px !important;
}
.mt_12 {
    margin-top:12px !important;
}
.mt_1-5 {
    margin-top:1.5rem !important;
}
.mr_5 {
    margin-right: 5px;
}
.mr_8 {
    margin-right:8px;
}
.ml_13 {
    margin-left:15px !important;
}
.mx_8 {
    margin: 0 8px !important;
}
.mx_7 {
    margin: 0 6px !important;
}
.text_small {
    font-size: 0.8rem;
}
.font_size-1-2 {
    font-size:1.2rem !important; 
}
.font_size-1-4 {
    font-size:1.4rem !important; 
}
.weight_500 {
    font-weight:500;
}
.bolder {
    font-weight:700;
}
.yellow {
    color: yellow;
}
.surround_shadow {
    box-shadow: 0 0 10px;
}
.shadow {
    text-shadow: 1px 1px #7c7c7c;
}
.dark_text {
    text-shadow: 1px 1px #000;
}
.shadow_white {
    text-shadow: 1px 1px #fff;
}
.flex_between {
    display:flex;
    justify-content: space-between;
}
.overflow {
    overflow-y:auto;
}
.max_width {
    width:90% !important;
    margin: 0 auto;
}
.full_width {
    width: 100%;
}
.max_height {
    height:100vh;
}
.transparent_bg {
    background: transparent;
}
.silver_border {
    border: 1px solid #fff; 
    outline: 1px solid #bbb;
    border-radius:10px; 
}
.radius_10 {
    border-radius: 10px;
}
.radius_20 {
    border-radius: 20px;
}
.padding_bottom {
    padding:18px 0;
}
.header_line-height {
    line-height:0.5;
}
.border_none {
    border:none !important;
}
.no_border_b {
    border-bottom: none;
}
.no_line_height {
    line-height:0;
}
.moveup {
    transform: translateY(-8px);
}
h2{
    margin: 0px;
}
/*================================================================================================*| 
||  Custom shapes
||================================================================================================*/
.custom-shape-divider-bottom-1661255310 {
    position: absolute;
    bottom: 0;
    left: 49.8%;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1661255310 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 43px;
}
.custom-shape-divider-bottom-1661255310 .shape-fill {
    fill: #ffa936;
}
/* ------------------------------------------------------------------------ */
.custom-shape-divider-top-1662723266 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-top-1662723266 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10px;
}
.custom-shape-divider-top-1662723266 .shape-fill {
    fill: rgba(255,255,255,0.3);
}
/*================================================================================================*| 
||  Welcome page identifier
||================================================================================================*/
#welcome {
    position:relative;
    position:fixed;
    text-align:center;
    vertical-align: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
	margin: 0;
    width:100vw;
    height:100vh;
    color: white;
    opacity: 1;
    visibility: visible;
    z-index:10000;
}
#welcome .hidden{
    opacity: 0;
    visibility: hidden;
}
.hidden {
    display: none !important;
    visibility:none !important;
}
/*================================================================================================*| 
||  Custom Scrollbar
||================================================================================================*/
.custom_scrollbar::-webkit-scrollbar {
    width: 16px;
}
.custom_scrollbar::-webkit-scrollbar-track {
    background: linear-gradient(0deg,transparent, rgba(152, 151, 169, 0.4),rgba(2, 2, 2, 0.3),rgba(0, 0, 0, 0.5), rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4),rgba(0, 0, 0, 0.5), rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4),rgba(0, 0, 0, 0.5), rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4), rgba(4, 4, 4, 0.4),rgba(2, 2, 2, 0.3), rgba(152, 151, 169, 0.4), transparent);
}
.custom_scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(0, 0, 0, 5), rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
/*================================================================================================*| 
||  Interactive Page
||================================================================================================*/
.interactive_wrapper {
    width:100vw; 
    height:100vh;
}
.interactive_logo-wrapper {
    height:30vh; 
    width:100vw;
    align-items:center;
}
.interactive_menu {
    height:70vh; 
    width:80vh;
    align-items:center;
    margin:0 auto;
}
.interactive_img-wrapper {
    position:relative;
    z-index:1000;
    height:auto;
    width:auto;
    text-decoration:none;
    margin-top:3rem;
}
.interactive-img {
    width:110px; 
    height:110px;
}
.custom_back_button-wrapper {
    display:flex; 
    justify-content:center;
    width:100%;
    align-items: center;  
    background: linear-gradient(0deg,transparent, rgba(152, 151, 169, 0.4),rgba(2, 2, 2, 0.3), rgba(4, 4, 4, 0.4), rgba(4, 4, 4, 0.4),
                rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4),rgba(0, 0, 0, 0.5), rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4),
                rgba(0, 0, 0, 0.5), rgba(4, 4, 4, 0.4),rgba(4, 4, 4, 0.4), rgba(4, 4, 4, 0.4),rgba(2, 2, 2, 0.3), rgba(152, 151, 169, 0.4), transparent);
    height:50px;position:absolute;bottom:0;
}
.custom_back-button {
    background: linear-gradient(to right, orange, darkorange);
    z-index:9999;
    color: white;
    --width: 250px;
    --height: calc(var(--width) / 7);
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: calc(var(--height) / 1.7);
    font-family: sans-serif;
    letter-spacing: 1px;
    border: 1px solid #ffaa33;
    border-radius: 20px !important;
    transition: 0.1s;
    overflow: hidden;
    font-weight:600;
}
.custom_back-button:active {
    transform: perspective(500px) rotateY(-15deg);
}
.custom_back-button::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    transition: 0.1s;
}
.custom_back-button:active::before {
    left: 100%;
}
/*================================================================================================*| 
||  Welcome Page
||================================================================================================*/
.welcome_wrapper {
    position:absolute; 
    top: 0; 
    bottom:0; 
    left:0;
    right:0; 
    width:100vw; 
    height:100vh; 
    display:flex;
    flex-direction:column; 
    justify-content:center;
}
.welcome_background {
    height:100% !important;
    width:100% !important;
}
.welcome_img {
    margin:0 auto;
    padding-bottom:3rem;
}
.welcome_info-wrapper {
    background-image: linear-gradient(red 48%, orange 47.9%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome_info {
    line-height:1.9;
    font-family: verdana;
    font-size: 2rem;
    font-weight: 900;
    background: #fede9a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*================================================================================================*| 
||  Keyframes
||================================================================================================*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes Blazing {
	0%   { 
        text-shadow: 0 3px 20px #DF9F28, 0 0 20px #DF9F28,
		0 0 10px #000,
		0 0 0 #fff,
		0 0 5px #222,
		-2px -5px 5px #FDE08D,
		4px -10px 10px red;
        }
	25%   { text-shadow: 0 3px 20px #DF9F28, 0 0 30px #DF9F28,
		0 0 20px #fff,
		0 0 5px #000,
		-2px -5px 5px rgba(255, 255, 255, 0.2),
		3px -10px 10px #FDE08D,
		-4px -15px 20px purple; 
        }
	50%   { text-shadow: 0 3px 20px #DF9F28, 0 0 20px #DF9F28,
		0 -5px 10px #ccc,
		-2px -5px 5px #fff,
		3px -10px 10px transparent,
		-4px -15px 20px #FDE08D,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px #DF9F28, 0 0 20px #DF9F28,
		0 -5px 10px #ccc,
		3px -5px 5px #FDE08D,
		-4px -10px 10px #FDE08D,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px #ccc,
		0 0 0 #FDE08D,
		0 0 5px #FDE08D,
		-2px -5px 5px #FDE08D,
		4px -10px 10px #FDE08D; }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes pre-load {
    0% {
        color: #ff6c00;
        text-shadow: none;
    }
    20% {
        color: #ff6c00;
        text-shadow: none;
    }
    40% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
    60% {
        color: #ff6c00;
        text-shadow: none;
    }
    80% {
        color: #ff6c00;
        text-shadow: none;
    }
    100% {
        color: #ff6c00;
        text-shadow: none;
    }
}
@keyframes loadingBefore {
    0%   {transform:translateX(-14px);}
    50%  {transform:translateX(14px);}
    100% {transform:translateX(-14px);}
}
@keyframes highlight {
    100% {
        background-position: 0 0, 0 0;
    }
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
}
@keyframes scroll{
    0% {
        opacity:0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
@keyframes loadingAfter {
    0%   {transform:translateX(-50px);}
    50%  {transform:translateX(50px);}
    100% {transform:translateX(-50px);}
}
.bg_wrapper {
    position:absolute; 
    min-width:100vw; 
    min-height: 100vh; 
    z-index:-100;
}
img:not(.left-arrow img, .right-arrow img, .header-img){
    width: 75px;
    height: 75px;
}
.left-arrow img, .right-arrow img{
    width:50px;
    height: 50px;
}
.selected_wrapper {
    opacity:1 !important;;
}
.wrapper {
    overflow-x: hidden;
}
.target {
    font-weight: bold;
    color: #fbfbfb;
    animation-name: rightToLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation: rightToLeft 10s linear infinite;
}
@keyframes rightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-140%);
    }
}