.MultiCarousel {
    float: left;
    overflow: hidden;
    width: 100%;
    /* position:relative; */
    margin: 0px 60px;
}
.MultiCarousel .MultiCarousel-inner {
    transition: 0.5s ease all;
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
     text-align: center;
     padding:10px;
     margin:10px;
     background:#f1f1f1;
     color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute;
    /* border-radius:50%; */
    /* top:calc(50% - 20px); */
    /* width:52px !important;
    height: 52px !important;
    box-shadow: 0px 0px 25px #444; */
}
.leftLst {
    left:5px;
}
.leftLst:active {
    transform: scale(92%);
    transition-duration: 0.5s;
}
.rightLst:active {
    transform: scale(92%);
    transition-duration: 0.5s;
}
.rightLst {
    position:absolute;
    right:5px;
}
/* .MultiCarousel .leftLst.over, .MultiCarousel .rightLst .over {
    pointer-events: none;
    background:#ccc;
} */
.over {
    opacity:0.1;
    /* border-color:  #b07e29 !important; */
    /* background-color: #b07e29 !important;
    transform: rotate(-45deg) translate(15px, 4px)  !important; */
}
.over:active {
    transform: scale(92%) !important;
    transition-duration: 0.5s !important;
}
.item {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
    letter-spacing:1px;
    color: #fff;
}
.item img {
    transform: scale(140%);
}
.item .settings {
    transform: scale(130%);
    margin-top:12px !important;
    margin-bottom:11px !important;
}
.selected{
    background: linear-gradient(to left,transparent 0%, transparent 0.1%, #ffa936 0.1%,#ffa937 99.9%);
    color: #000;
    text-shadow: 0px 1px #fff;
}
.custom-btn:active{
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}
.custom-btn {
    display: inline-block;
    position: relative;
    position:absolute;
    left:0;
    bottom:0;
    width: 140px;
    height: 39px;
    border:none;
    color: rgba(255, 255, 255, 0.7); 
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition-timing-function:ease-out;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:ease-out;
    padding:0.2rem 0 !important;
    background: linear-gradient(#191919,  rgba(33, 37, 41, 1), #233) !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.menu_button {
    height:30px !important; 
    padding:0.2rem 2rem !important; 
    color: rgba(255, 255, 255, 0.7); 
    background: #191919;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    font-weight:600;
}
/* .item:active {
        background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
        background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
} */
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.menu_img {
    position:absolute;
    top:-3px;
    max-height:40px; 
    max-width:40px;
    opacity:0.6;
    transition-duration: 0.5s;
}
#navbar{
    background: linear-gradient(90deg, #191919,rgba(33, 37, 41, 1), #233, rgba(33, 37, 41, 1),rgba(33, 37, 41, 1), #191919, 
                            rgba(33, 37, 41, 1), #191919, rgba(33, 37, 41, 1),  #191919, rgba(33, 37, 41, 1), #191919,
                            rgba(33, 37, 41, 1), #191919, rgba(33, 37, 41, 1),rgba(33, 37, 41, 1), #233, rgba(33, 37, 41, 1), #191919);
    box-shadow: 0px 0px 15px 1px #222;
    position: relative;
}