:root {
    --navy: #0c0c4a;
    --dark-navy: #060726;
    --pink: rgba(213, 84, 213, 1);
    --pink2: rgba(213, 84, 213, 0.7);
}
* {
    margin: 0;
    padding: 0;
}
*::before,
::after {
    content: "";
    position: absolute;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position:relative;
    background: black;
    display: grid;
    place-items: center;
    filter: saturate(130%) contrast(125%);
}
#image {
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden !important;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background: var(--navy);
    display: grid;
    position: relative;
/* border: 8px solid;
border-color: darkmagenta magenta;
outline: 8px ridge cyan;
outline-offset: 4px; */
}
#top {
    height: 77%;
    background: linear-gradient(transparent 50%, hotpink 160%);
    box-shadow: 0 15px 50px 1px white;
    position: relative;
}
#sky {
    position: absolute;
    top: 0;
    width:  100%;
    height: 100%;
    background: repeating-linear-gradient(
        rgba(255, 0 ,255, 0.1) 10px,
        rgba(255, 0 ,255, 0.1) 10px,
        #000 30px
        ),
        repeating-linear-gradient(90deg, #fff 500px, transparent 500px, transparent 100px)
        10px 0;
    filter: drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #000)
        drop-shadow(0px 0px 10px #fff);
    animation: move 200s linear infinite;
    opacity:0.7;
    }
    #bottom {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 135%;
    transform: perspective(500px) rotateX(65deg);
    bottom: -15%;
    background: linear-gradient(
        90deg,
        pink -50%,
        transparent 40%,
        transparent 60%,
        pink 140%
    );
    clip-path: polygon(0 100%, 0 55%, 100% 55%, 100% 100%);
}
#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65%;
    left:4%;
    background: repeating-linear-gradient(
        #be93d4 5px,
        #000 12px,
        rgba(255, 0 ,255, 0.1) 30px
        ),
        repeating-linear-gradient(90deg, white 200px, transparent 550px, transparent 100px);
    filter: drop-shadow(-100px #000 -100px #000 1px #000) drop-shadow(0px -100px #000 1px #000)
        drop-shadow(0 0 10px #fff);
    animation: move 200s linear infinite;
}
#text {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}
h1 {
    color: transparent;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    position:absolute;
    bottom: 35%;
    font-size: 4em;
    transform: translatey(25px);
    background: linear-gradient(
        #FDE08D 30%,
        white,
        #DF9F28 60%,
        #FDE08D 100%
    );
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px silver;
    filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
    animation: bg-shift 5s ease-in-out infinite alternate;
}
h2 {
    color: white;
    position:absolute;
    bottom: 25%;
    font-family: "Yellowtail", cursive;
    font-weight: 100;
    font-size: 4em;
    transform: translatey(-10px) rotatez(-5deg);
    text-shadow: 0 0 3px magenta, 0 0 7px magenta, 0 0 15px black, 0 0 15px black;
    animation: hover 5s ease-in-out infinite;
}
@keyframes move {
to {
    background-position-y: -2000px;
}
}
@keyframes bg-shift {
0% {
    background-position: 0 -25px;
}
100% {
    background-position: 0 25px;
}
}
.Blazing {
    display: inline-block;
    margin: 0;
    padding-left:3rem;
    color: rgb(255, 115, 0);
    font-size: 100px;
    line-height: 50px;
    min-width: 50px;
    outline: none;
    vertical-align: middle;
    letter-spacing:40px;
    text-shadow:  0 3px 20px red,
                    0 0 20px red,
                    0 0 10px orange,
                    4px -5px 6px yellow,
                    -4px -10px 10px yellow,
                    0 -10px 30px yellow;
    animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 0 yellow,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    4px -10px 10px yellow; }
25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
    0 0 20px orange,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    3px -10px 10px yellow,
    -4px -15px 20px yellow; }
50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 -5px 10px orange,
    -2px -5px 5px yellow,
    3px -10px 10px yellow,
    -4px -15px 20px yellow,
    2px -20px 30px rgba(255,255,0,0.5); }
75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 -5px 10px orange,
    -2px -5px 5px yellow,
    3px -10px 10px yellow,
    -4px -15px 20px yellow,
    2px -20px 30px rgba(255,255,0,0.5); }
100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 0 yellow,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    4px -10px 10px yellow; }
}

#header {
    display:none !important;
}
#slide {
    display:none !important;
}
#menu_title {
    display:none !important;
}
.invisible {
    visibility:none;
}
.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
        ellipse 50% 35% at 50% 50%,
        #6b1839,
        transparent
);
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 55%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}
@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}
.flicker {
    animation: shine 4s forwards, blink 6s 4s infinite;
}
.fast-flicker {
    animation: shine 4s forwards, blink 20s 4s infinite;
}
@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}
@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}